/* شكل الصفحة كامل */
body{
    background-color:#152a5b;   /* لون الخلفية */
    color:white;                /* لون النص */
    font-family: Arial;
    text-align:center;
    margin:0;
}

/* صندوق المحتوى */
.container{
    margin-top:50px;
}

/* الصورة */
img{
    width:140px;
    border-radius:50%;
    border:3px solid #152a5b;
}

/* الاسم */
h1{

    margin:10px 0;

}

/* الوصف */
p{
    color:#cbd5f5;
}

/* شكل الأزرار */
.link{
    display:block;
    width:300px;
    margin:20px auto;
    padding:15px;
    background:#1e293b;
    color:white;
    text-decoration:none;
    border-radius:10px;
    transition:0.3s;
}

/* تأثير المرور */
.link:hover{
    background:#1e293b;
    color: #6d6e6f;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #132b55;
    color: #fff;
}

/* القسم الكامل */
.accounts-section {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #1e293b;
    border-radius: 30px;
}

/* العنوان */
.accounts-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
}

/* ترتيب الكروت */
.accounts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

/* كرت الحساب */
.account-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    background-color: #29303a;
    border-radius: 15px;
    transition: 0.3s;
}

.account-card:hover {
    transform: translateY(-5px);
    background: rgba(0, 0, 0, 0.35);
}

/* الأيقونة */
.icon {
    width: 38px;
    height: 38px;
    padding: 6px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

/* اسم المنصة */
.platform {
    margin: 0;
    font-size: 16px;
    opacity: 0.8;
}

/* اسم المستخدم */
.username {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}


